html, body {
  height: 100%;
}

html {
  display: block;
}

body {
  background-color: #cac9c9;
}

.body-center {
  margin: 0;
  margin-top: 0em;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; 
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;  
  background-color: #000000;
}

form {
  display: block;
  margin-top: 0em;
}

.form-login{
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-signup{
  width: 100%;
  min-width: 550px;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}

.template{
  display: block;
  margin-top: 0em;  
  width: 100%;
  padding: 15px;
  margin: 0 auto;   
}

@media (max-width: 550px) {
  .form-signup {
    min-width: 400px;
  }
}

.block-margin {
  padding-top: 72px;
}

.block-padding {
  padding-bottom: 15px;
}

.block-height {
  height: 100%;
}

.block-width {
  width: 100%;
}